* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.75)), to(rgba(4, 9, 30, 0.75))), url(../eduford_img/banner.png);
  background-image: linear-gradient(rgba(4, 9, 30, 0.75), rgba(4, 9, 30, 0.75)), url(../eduford_img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  cursor: pointer;
}

.burger-menu .line1,
.burger-menu .line2,
.burger-menu .line3 {
  background-color: #fff;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  margin: 2.5px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-rotate {
  background: none;
}

.burger-rotate .line1 {
  -webkit-transform: rotate(-45deg) translate(1px, 2px) scaleX(2);
          transform: rotate(-45deg) translate(1px, 2px) scaleX(2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.burger-rotate .line2 {
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.burger-rotate .line3 {
  -webkit-transform: rotate(45deg) translate(1px, -2px) scaleX(2);
          transform: rotate(45deg) translate(1px, -2px) scaleX(2);
  margin-left: 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 700px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    border-radius: 4px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .nav-links.active {
    right: 0;
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links ul li {
    display: block;
  }
  .text-box h1 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */